/******** Navbar ******/
#navbarNavDropdown{
    flex-direction: row-reverse;
    gap: 1em;
}

.navbar-nav{
    order: 99;
    margin-right: auto;
    margin-left: 1em;
}

.navbar-nav a{
    margin: 0 0.5em;
}

/****** Avatar *****/
.avatar{
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.testo-centrato {
    text-align: center;
}

