.main,
.links{
    width: 60%;
    margin: 0 auto;
    border: 2px solid red;
    
}

form{
    display: flex;
    flex-direction: column;
}

.field,
.actions{
    text-align: center;
    margin: 0.7em auto;
}

.field label{
    font-size: 18px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
    display:block;
    text-align: left;

}

.links{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gradient-custom {
    background: #f0d6a0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: blue;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%))
}



    .child {
        display: inline-block;
        vertical-align: middle;
      }

      .m-b-20 {
        margin-bottom: 20px;
      }

      .wrap-input100 {
        width: 100%;
        position: relative;
        background-color: #fff;
        border-radius: 20px;
      }
    