#testo{
    column-count:3;
    text-align:justify;
    column-fill: inherit;
    align-items:center;
    padding-left: 45px; 
}

#testo2 {
    column-count: 2;
    text-align:justify;
    column-fill: inherit;
}

#testo3 {
    column-count: 1;
    text-align:justify;
    column-fill: inherit;
    padding-left: 0px; 
}

#box {
    width: 1150px;
    height: 550px;
    padding: 20px;
    border: 0px solid;
    margin: 20px;
    align-items:center;
}

#cont {
    border: 3px solid rgba(105, 106, 102, 0.441);
    border-radius: 3%;
    width: 400px;
    height: 550px;
    padding: 20px;
    margin: 0 auto;
}

#cont2 {
    border: 3px solid rgba(105, 106, 102, 0.441);
    border-radius: 3%;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
}


.selection{
    margin-top: 1em;
    margin-bottom: 1em;
}