.grid{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.creation-form{
    border: 2px solid rgba(0, 0, 0, 0.185);
    text-align:center;
}

.capos-list{
    margin-top: 2em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.capo-item{
    font-size: 0.8em;
}