<div id="<%= dom_id guardaroba %>">
  <p>
    <strong>User:</strong>
    <%= guardaroba.user_id %>
  </p>

  <p>
    <strong>Immagine capo:</strong>
    <%= guardaroba.immagine_capo %>
  </p>

  <p>
    <strong>Nome capo:</strong>
    <%= guardaroba.nome_capo %>
  </p>

</div>
