<h1>Editing guardaroba</h1>

<%= render "form", guardaroba: @guardaroba %>

<br>

<div>
  <%= link_to "Show this guardaroba", @guardaroba %> |
  <%= link_to "Back to guardarobas", guardarobas_path %>
</div>
