<div id="<%= dom_id capo %>">
  <p>
    <strong>Immagine:</strong>
    <%= capo.immagine %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= capo.nome %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= capo.descrizione %>
  </p>

</div>
