.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******* Card Outfit *****/
.card{
    width: 30%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.card-header,
.profile-pic{
    display: flex;
    flex-direction: row;
}

.outfit-name{
    margin-left: 25%
}

.outfit-name p{
    font-weight: 700;
    font-size:large;
}

.carousel-item img{
    width: auto;
    height: 300px;
}

.carousel-control-prev,
.carousel-control-next{
    background-color: lightgray;
    opacity: 0.4;
}

.carousel-caption h6{
    font-weight: 900;
}

.outfit-date{
    float: right;
}

.testo-bordato {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 150%;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}